@import "reset";
@import "variables/global.scss";
@import "themes/dark.scss";
@import "themes/light.scss";


.app{
    font:var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    
}